body{
  color: #000;
  @extend %roboto-400;
  font-size: 14px;
  line-height: 16px;
}


.green{
  color: #8AC135;
}

.red{
  color: #D45A77;
}

.lock{
  overflow: hidden;
}

.container{
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}