@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';



.header {
  padding: 15px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__list {
    display: flex;
    gap: 25px;
  }


  &__link {
    color: #000;
    text-decoration: none;
    @extend %roboto-400;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    padding-bottom: 3px;

    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}

.menu {
  margin-left: auto;
  margin-right: auto;

  &__list {
    display: flex;
    gap: 40px;
  }

  &__link {
    color: #000;
    text-decoration: none;
    @extend %roboto-400;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    padding-bottom: 3px;

    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}




.top {
  padding: 40px 0;
  background-color: #F8F8F8;
  height: calc(100vh - 50px);

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
  }

  &__box {
    max-width: 400px;
  }

  &__title {
    margin-bottom: 18px;
    @extend %roboto-700;
    font-size: 38px;
    line-height: 44px;
  }

  &__descr {
    margin-bottom: 24px;
    color: #414141;
    line-height: 23px;
    max-width: 380px;
  }

  &__telegram {
    color: #fff;
    padding: 12px 25px;
    background-color: #2C2B2B;
    border-radius: 50px;
    transition: all .3s;

    &:hover {
      opacity: .8;
    }
  }
}

.rate {

  padding: 40px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 18px;
  }

  &__block {
    padding: 25px 40px;
    border: 1px solid #DADADA;
    border-radius: 15px;
    max-width: 287px;
    width: 100%;
    transition: all .2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.04);
    }
  }

  &__img {
    margin-bottom: 13px;
    width: 35px;
    height: 35px;
  }

  &__title {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 19px;
    @extend %roboto-700;
  }

  &__descr {}
}



.currency {

  padding: 20px 0 60px 0;

  &__title {
    font-size: 34px;
    line-height: 55px;
    @extend %roboto-700;
    margin-bottom: 20px;
  }

  &__names-wrapper {
    background-color: rgba(196, 196, 196, 0.12);
    border-radius: 10px;
  }

  &__names {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding: 4px 20px 4px 20px;
  }

  &__last {
    padding-left: 70px;
  }

  &__name {
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.4);
  }

  &__list {}

  &__item-wrapper {
    display: flex;
    align-items: center;
    max-width: 1000px;
  }

  &__item {
    padding: 24px 0;
    border-bottom: 1px solid rgba(196, 196, 196, 0.27);
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 150px;
  }

  &__img-box {
    width: 40px;
    height: 40px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__descr-box {}

  &__text {
    font-size: 17px;
    line-height: 22px;
  }

  &__descr {
    font-size: 15px;
    line-height: 20px;
    color: rgba(130, 141, 153, 0.6);
  }

  &__last-price {
    font-size: 17px;
    line-height: 22px;
    margin: 0 auto;
  }

  &__price-day {
    font-size: 17px;
    line-height: 20px;
    padding-right: 50px;
  }
}


.our {
  padding: 75px 0;
background-color: #F8F8F8;
  &__title {
    font-size: 34px;
    line-height: 55px;
    @extend %roboto-700;
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 30px 30px 60px;
    &:nth-child(2n){
      flex-direction: row-reverse;
    }
  }

  &__content {
    max-width: 542px;
  }

  &__name {
    @extend %roboto-700;
    margin-bottom: 17px;
    font-size: 28px;
    line-height: 45px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__btn-wrapper {}

  &__telegram {
    color: #fff;
    padding: 12px 25px;
    background-color: #2C2B2B;
    border-radius: 50px;
    transition: all .3s;

    &:hover {
      opacity: .8;
    }
  }

  &__img-box {}

  &__img {}
}



@import 'media';